{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Time Up</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
        .texRow{
            text-align: center;
            color: white;
            font-size: 15vh;
        }
    </style>

</head>
<body style="background-color: red; overflow: hidden;">
    <!-- You may change the dimensions of this canvas -->
    <div class="container-fluid" >
        <!-- <div class="row" style="font-size: 15vh;  margin: auto; height: 100vh;">
            <div class="col-12" style="text-align: center; display: flex; align-items: center; color: white; width: 100vw;">TIME</div>
        </div> -->
        <div class="row" style="height: 8vh;"></div>
        <div class="row" style="height: 30vh;"><div class="col-12 texRow">TIME</div> </div>
        <div class="row" style="height: 30vh;"><div class="col-12 texRow">IS</div> </div>
        <div class="row" style="height: 30vh;"><div class="col-12 texRow">UP</div> </div>
    </div>
</body>
</html>
